*{
    box-sizing: border-box;
}
body {
    font-family: 'DMSans', sans-serif;
    font-weight: 200;
    font-style: normal;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 70vw;
    height: 90vh;
    gap: 20px; 
    align-self: center;    
}

.item {
    border: 1px  ;
    border-radius: 10px;
    display: grid;
    place-items: center;
    overflow: hidden;
    padding: 20px;
}
.create-content{
    background-color: rgb(255, 165, 0, 0.2);
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    width: 90%;
    font-weight: 300;
}
.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
    font-size: 20px;
}
.create-post >h1>span{
    color: #7551d9;
    font-style: italic;
}
.write-ai{
    background-color:#fecb69;
    grid-column: 1 / 2;
    grid-row: 6 / 11;
    overflow: hidden;
}

.write-post >h1{
    font-size: 39px; 
    font-style: normal;
    align-items: start;
    margin: auto;
}
.social-ai{
    grid-column: 2 / 4;
    grid-row: 1 / 5;
    background-color: #7551d9;
    color:white;
}
.social-media{
    text-align: center;
}
.social-media >h1>span{
    color:rgb(255, 191, 0);
}
.social-media >h1{
    text-wrap: wrap;
    font-size: 2.9rem;
    text-align: center;
    margin: 0;
}
.star{
    display: grid; 
    place-items: center;
    margin-top: 1rem;
    gap: 20px;
}
.star >p{
    margin: 0;
}
.schedule-social{
    grid-column: 4 / 5;
    grid-row: 1 / 8;
    background-color: #e0d6f3;
}
.schedule-media>p{
    font-size: 20px;
}
.schedule-post>h1{
    font-size: 20%;
    text-align: center;
}
.schedule-post>p{
    font-size: 1rem;
}
.schedule-post>img{
    height: 20px;
}
.manage-platforms{
    grid-column: 2 / 3;
    grid-row: 5 / 8;
    background-color: white
}  
.manage-account >h1{
    width: 80%;
    font-size: 1.5rem;
}
.faster-growth{
    grid-column: 2 / 3;
    grid-row: 8 / 11;
    background-color: white;
}

.faster-audience >img{
    height: 100%;
    object-fit: contain;
}
.faster-word{
    height: 100%;
    width: 80%;
}
.faster-word>h1{
    font-size:300%;
    font-weight: 500;
    margin: 0;
    margin-top: 20px
}
.maintain-schedule{
    background-color: #fecb69;
    grid-column: 3 / 4;
    grid-row: 5 / 8;
}

.maintain-post >h1{
    width: 100%;
    font-size: 1.5rem;
}
.maintain-post >img{
    width: 90%;
}
.grow-faster{
    background-color: #7551d9;
    grid-column: 3 / 5;
    grid-row: 8 / 12;
    width: 100%;
}
.followers-growth{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0.5rem;
    color: white;
}
.grow-followers >img{
    width:50%;
    height: auto;
    object-fit: cover;
}
.grow-followers>h1>span{
    color: white;
}
.write-post{
    height: 100%;
    position:relative;
}
.write-post >img{
    object-fit: contain;
}

@media screen and  (max-width: 780px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        width: 90%;
        height: 100;
        gap: 1rem;
        margin: 20px auto 0;
    }

    .item {
        width: 100%;
        margin: 10px auto 0;
        overflow: visible;
    }

    .create-content, .write-ai, .social-ai, .manage-platforms, .maintain-schedule, .schedule-social, .grow-faster, .faster-growth{
        grid-column: 1/ span 1;
    }
 
.social-ai{
    grid-row: 1/ span 1 ;
}
.manage-platforms{
    grid-row: 2/ span 1;
}
.maintain-schedule{
    grid-row: 3/ span 1;    
}
.schedule-social{
    grid-row: 4/ span 1;
}
.grow-faster{
    grid-row: 5/ span 1;
}
.faster-growth{
    grid-row: 6/ span 1;
}
.create-content{
    grid-row: 7/ span 1;
}
.write-ai{
    grid-row: 8/ span 1;
}
    .social-media >h1, .schedule-post>h1 {
        font-size: 1rem;
    }
.followers-growth{
    flex-direction: column;
}

    .create-post >h1, .write-post >h1, .manage-account >h1, .maintain-post >h1, .faster-word>h1, .schedule-post >h1, .grow-followers >h1{
        font-size: 1.5rem;
    }

    .schedule-post >p {
        font-size: 0.7rem;
        text-align: center;
    }
    .schedule-post >img{
        width: 90%;
    }

    img {
        width: 60%;
        height: auto;
    }
    .manage-account >img{
        width: 100%;
    }
    .manage-account>h1{
        text-align: start;
        font-size: 0.8rem;
    }
    .maintain-schedule,.maintain-post,.faster-growth,.faster-audience, .create-content, .create-post, .write-ai, .write-post{
        display: block;
    }
    .maintain-post >h1{
        margin: 0.5em 0;
        margin-bottom: 2rem;
        height: auto;
        text-align: start;
        font-size: 1rem;
    }
    .followers-growth{
        display: flex;
        align-items: center;
        width: 80%;
        text-align: center;
        margin: 1rem 0;
        font-size: 1rem;
    }    
}