*{
    box-sizing: border-box;
}
body {
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    /*width: 70vw;*/
    height: 100vh;
    gap: 20px; 
    align-self: center;   
    padding: 4rem 20rem; 
}

.item {
    border: 1px  ;
    border-radius: 10px;
    display: grid;
    place-items: center;
    overflow: hidden;
    padding: 20px;
    font-size: 18px;
}
.create-content{
    background-color: rgb(255, 165, 0, 0.2);
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    width: 90%;
    font-weight: 400;
}
.create-content h1{
    font-size: 36px;
    font-weight: 500;
}
.content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
    font-size: 20px;
}
.create-post >h1>span{
    color: #7551d9;
    font-style: italic;
}
.write-ai{
    background-color:#fecb69;
    grid-column: 1 / 2;
    grid-row: 6 / 11;
    overflow: hidden;
}
.write-post >h1{
    font-size: 2.2rem; 
    font-weight: 400;
    align-items: start;
    margin: auto;
}
.write-post img {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    max-height: 200px;
}
.social-ai{
    grid-column: 2 / 4;
    grid-row: 1 / 5;
    background-color: #7551d9;
    color:white;
}
.social-media{
    text-align: center;
}
.social-media >h1>span{
    color:rgb(255, 191, 0);
}
.social-media >h1{
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.star{
    display: grid; 
    place-items: center;
    margin-top: 1rem;
    gap: 20px;
}
.star >p{
    margin: 0;
}
.schedule-social{
    grid-column: 4 / 5;
    grid-row: 1 / 8;
    background-color: #e0d6f3;
    padding: 0px;
    place-items: normal start;
}
.schedule-media{
    place-items: initial;
    padding-left: 1rem;
}
.schedule-media h1{
    font-size: 1.8rem;
    font-weight: 350;
    text-align: left;
    width: 60%;
    margin-top: 3rem;
    line-height: 24px;
}
.schedule-media>p{
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    width: 60%;
}
.schedule-media>img{
    height: 300px;
}
.manage-platforms{
    grid-column: 2 / 3;
    grid-row: 5 / 8;
    background-color: white;
}  
.manage-account{
    place-items: initial;
}
.manage-account >h1{
    width: 70%;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 1rem;
}
.manage-platforms img{
    width: 300px;
}
.faster-growth{
    grid-column: 2 / 3;
    grid-row: 8 / 11;
    background-color: white;
}
.faster-word img{
    height: 100%;
    width: 100%;
}
.faster-word>h1{
    font-size: 3.2rem;
    font-weight: 500;
    width: 90px;
    margin: 0;
}
.faster-word >h1>span{
    font-size: 2.5rem;
    font-weight: 500;
    width: 50%;
    text-align: center;
}
.faster-word p{
    font-size: 1rem;
    width: 120%;
    margin-bottom: 2rem;
}
.maintain-schedule{
    background-color: #fecb69;
    grid-column: 3 / 4;
    grid-row: 5 / 8;
}

.maintain-post >h1{
    width: 90%;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0;
    line-height: 24px;
}
.maintain-post >img{
    width: 90%;
    height: 100%;
}
.maintain-post{
    place-items: initial;
}
.grow-faster{
    background-color: #7551d9;
    grid-column: 3 / 5;
    grid-row: 8 / 12;
    width: 100%;
    padding: 0;
}
.followers-growth{
    display: flex;
    height: 100%;
    margin: 0;
    color: white;
    place-items: initial;
    margin-left: 0;
    padding: 0%;
}
.followers-growth >img{
    width:40%;
    height: 80%;
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: start;
    place-items: initial;
}
.followers-growth h1{
    font-size: 2.5rem;
    font-weight: 400;
    width: 300px;
    margin-top: 3rem;
}
.grow-faster{
    place-items: initial;
    margin-left: 1rem;
}
.write-post{
    height: 100%;
    position:relative;
}
.write-post >img{
    object-fit: contain;
}

@media screen and  (max-width: 780px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, auto);
        width: 90%;
        height: 100;
        gap: 1rem;
        margin: 20px auto 0;
    }

    .item {
        width: 100%;
        margin: 10px auto 0;
        overflow: visible;
    }

    .create-content, .write-ai, .social-ai, .manage-platforms, .maintain-schedule, .schedule-social, .grow-faster, .faster-growth{
        grid-column: 1/ span 1;
    }
 
.social-ai{
    grid-row: 1/ span 1 ;
}
.manage-platforms{
    grid-row: 2/ span 1;
}
.maintain-schedule{
    grid-row: 3/ span 1;    
}
.schedule-social{
    grid-row: 4/ span 1;
}
.grow-faster{
    grid-row: 5/ span 1;
}
.faster-growth{
    grid-row: 6/ span 1;
}
.create-content{
    grid-row: 7/ span 1;
}
.write-ai{
    grid-row: 8/ span 1;
}
    .social-media >h1, .schedule-post>h1 {
        font-size: 1rem;
    }
.followers-growth{
    flex-direction: column;
}

    /* .create-post >h1, .write-post >h1, .manage-account >h1, .maintain-post >h1, .faster-word>h1, .schedule-post >h1, .grow-followers >h1{
        font-size: 1.5rem;
    } */

    .schedule-post >p {
        font-size: 0.7rem;
        text-align: center;
    }
    .schedule-post >img{
        width: 90%;
    }

    img {
        width: 60%;
        height: auto;
    }
    .manage-account >img{
        width: 100%;
    }
    .manage-account>h1{
        text-align: start;
        font-size: 0.8rem;
    }
    .maintain-schedule,.maintain-post,.faster-growth,.faster-audience, .create-content, .create-post, .write-ai, .write-post{
        display: block;
    }
    .maintain-post >h1{
        margin: 0.5em 0;
        margin-bottom: 2rem;
        height: auto;
        text-align: start;
        font-size: 1rem;
    }
    .followers-growth{
        display: flex;
        align-items: center;
        width: 80%;
        text-align: center;
        margin: 1rem 0;
        font-size: 1rem;
    }    
}